<div class="profile-container">
  <%= form_for @client, url: users_interaction_client_path do |f| %>
    <div class="profile-top">
      <%= f.text_field :name, @client.name %>
      <%= f.submit "Submit" %>

<!--       t.text     "phone",                   null: false
      t.text     "first_name"
      t.text     "last_name"
      t.text     "last_address"
      t.text     "gender"
      t.text     "ssn"
      t.text     "ethnicity"
      t.text     "education"
      t.boolean  "employed"
      t.boolean  "veteran"
      t.boolean  "domestic_assault_victim"
      t.boolean  "mental_health"
      t.integer  "kid_count"
      t.date     "birthdate"
 -->
      <p class="name">John Doe</p>
      <p class="top-field">10/04/1988</p>
      <p class="top-field">Male | White</p>
      <p class="top-field">(516) 581-1375</p>
    </div>
  <% end %>
</div>