<% if event.message_id? %>
  <p class="incoming-msg-from">Client <%= event.created_at.strftime("%m/%d/%Y %l:%M %p") %></p><div class="clear"></div>
  <div class="text-bubble incoming">
    <%= event.content %>
  </div>
  <div class="msg-sep"></div>
<% else %>
  <p class="incoming-msg-to">Tony P. <span class="provider-name">Provider</span> <%= event.created_at.strftime("%m/%d/%Y %l:%M %p") %></p><div class="clear"></div>
  <div class="text-bubble">
    <%= event.content %>
  </div>
  <div class="msg-sep"></div>
<% end %>