<div class="interaction-container">
  <%= link_to users_interaction_path("1") do %>
    <div class='int-class-left'>
      <p class="client-name">Client Name</p>
      <p class="interaction-data">
        <i class="fa fa-clock-o"></i>
        <span class="title">Last Contact:</span>
        Oct 10 2016, 10:32 AM
      </p>
      <p class="interaction-data">
        <i class="fa fa-long-arrow-right"></i>
        <span class="title">Referred To:</span>
        St. Patrick Center
      </p>

      <p class="interaction-data">
        <i class="fa fa-question"></i>
        <span class="title">Referred For:</span>
        Emergency Housing
      </p>

    </div>

    <div class='int-class-right'>

    </div>

  <% end %>

</div>
