<% if !@interaction.referral %>
  <div class="referral-start-container">
    <p>Refer Client To Services:</p>
    <%= select_tag "author",
      options_for_select(["Emergency Shelter", "Food Programs & Pantries", "Utility Assistance"]),
      id: "service-type-search",
      class: "selectize sans-body",
      prompt: "Select A Service Type" %>
  </div>
<% else %>
  <div class="referral-send-container">
    <h1>Referal code: <%= @interaction.referral.code %></h1>

    <button class="send-referral c-btn" data-referral-code="<%= @interaction.referral.code %>">
      <%= "Send to Client" %>
    </button>
  </div>
<% end %>
