<div class="messages-container">
  <% if @interaction.events.empty? %>
    <div id="blank-slate">
      <h1>No messages for this interaction.</h1>
      <h2>Send your first message.</h2>
    </div>
  <% else %>
    <%= render @interaction.events.reverse %>
  <% end %>
</div>
