<div class="messages-container">
  <p class="incoming-msg-from">Client 5:03 PM</p><div class="clear"></div>
  <div class="text-bubble incoming">
    LETS GOOOOOOO
  </div>
  <div class="msg-sep"></div>

  <p class="incoming-msg-to">Tony P. <span class="provider-name">Provider</span> 5:03 PM</p><div class="clear"></div>
  <div class="text-bubble">
    YO CHILL
  </div>
  <div class="msg-sep"></div>
  <p class="incoming-msg-from">Client 5:03 PM</p><div class="clear"></div>
  <div class="text-bubble incoming">
    LETS GOOOOOOO
  </div>
  <div class="msg-sep"></div>

  <p class="incoming-msg-to">Tony P. <span class="provider-name">Provider</span> 5:03 PM</p><div class="clear"></div>
  <div class="text-bubble">
    YO CHILL
  </div>
  <div class="msg-sep"></div>

  <p class="incoming-msg-from">Client 5:03 PM</p><div class="clear"></div>
  <div class="text-bubble incoming">
    LETS GOOOOOOO
  </div>
  <div class="msg-sep"></div>

  <p class="incoming-msg-to">Tony P. <span class="provider-name">Provider</span> 5:03 PM</p><div class="clear"></div>
  <div class="text-bubble">
    YO CHILL
  </div>
  <div class="msg-sep"></div>

  <p class="incoming-msg-from">Client 5:03 PM</p><div class="clear"></div>
  <div class="text-bubble incoming">
    LETS GOOOOOOO
  </div>
  <div class="msg-sep"></div>

  <p class="incoming-msg-to">Tony P. <span class="provider-name">Provider</span> 5:03 PM</p><div class="clear"></div>
  <div class="text-bubble">
    YO CHILL
  </div>
  <div class="msg-sep"></div>

  <p class="incoming-msg-from">Client 5:03 PM</p><div class="clear"></div>
  <div class="text-bubble incoming">
    LETS GOOOOOOO
  </div>
  <div class="msg-sep"></div>

  <p class="incoming-msg-to">Tony P. <span class="provider-name">Provider</span> 5:03 PM</p><div class="clear"></div>
  <div class="text-bubble">
    YO CHILL
  </div>
  <div class="msg-sep"></div>

  <p class="incoming-msg-from">Client 5:03 PM</p><div class="clear"></div>
  <div class="text-bubble incoming">
    LETS GOOOOOOO
  </div>
  <div class="msg-sep"></div>

  <p class="incoming-msg-to">Tony P. <span class="provider-name">Provider</span> 5:03 PM</p><div class="clear"></div>
  <div class="text-bubble">
    YO CHILL
  </div>
  <div class="msg-sep"></div>

</div>
