<div class="container-center">
  <%= link_to "New Interaction", new_users_interaction_url %>

  <p class="interaction-section-header">Open</p>
  <ul class="interactions-container">
    <% @interactions.each do |interaction| %>
      <%= render interaction %>
    <% end %>
  </ul>
</div>
