<div class="container-center">
  <%= link_to "New Interaction", new_users_interaction_url, class: "c-btn new-interaction-btn" %>

  <p class="interaction-section-header">Active</p>
  <ul class="interactions-container">
    <% @interactions.each do |interaction| %>
      <%= render interaction %>
    <% end %>
  </ul>

  <p class="interaction-section-header">Open</p>
  <ul class="interactions-container">
    <% @open_interactions.each do |interaction| %>
      <%= render interaction %>
    <% end %>
  </ul>
</div>
