@font-face {
  font-family: 'GT-Walsheim';
  src: font-url('GT-Walsheim-Bold.ttf')  format('truetype'),
       font-url('GT-Walsheim-Bold.eot')  format('eot'),
       font-url('GT-Walsheim-Bold.woff')  format('woff');
  font-weight: bold;
}
@font-face {
  font-family: 'GT-Walsheim';
  src: font-url('GT-Walsheim-Regular-Oblique.ttf')  format('truetype'),
       font-url('GT-Walsheim-Regular-Oblique.eot')  format('eot'),
       font-url('GT-Walsheim-Regular-Oblique.woff')  format('woff');
  font-style: italic;
}


@font-face {
  font-family: 'GT-Walsheim';
  src: font-url('GT-Walsheim-Bold-Oblique.ttf')  format('truetype'),
       font-url('GT-Walsheim-Bold-Oblique.eot')  format('eot'),
       font-url('GT-Walsheim-Bold-Oblique.woff')  format('woff');
  font-weight: bold;
  font-style: italic;
}

$DarkGray: #32323c;
$MedGray: #5b5b62;
$LightGray: #c1c1c4;
$teal: #3cc6cc;
$blue: #00315b;


p,h1,h2,h3,a, span, div,input, textarea  {
  font-family: 'GT-Walsheim', serif;
}

body{
  background-color: $LightGray;
}

.c-btn{
  padding: 5px; border: 1px solid $DarkGray;
  display: inline-block; text-transform: uppercase;
  text-decoration: none; color: $DarkGray;
  &:hover{ border-color: $MedGray; color: $MedGray; }
}

.profile-container{
  width: 500px; //fixed for UI standup purposes
  padding: 15px; background-color: white;
  p {margin: 0;}
  .name { font-size: 28px; margin-bottom: 10px;}
  .top-field  { font-size: 14px; margin-bottom: 5px;}

  .middle-field{
    font-size: 12px;
    .field-title {width: 150px; color: $MedGray; display: inline-block;}
  }

}

.timeline-container{
  width: 500px; //fixed for UI standup purposes
  padding: 15px; background-color: white;

  .new-note-btn{ text-decoration: none; }

  .timeline-item{
    padding-bottom: 20px; position: relative;
    &:last-of-type { padding-bottom: 0; }
    .timeline-icon{
      color: $teal; background-color: white; position: relative;
      padding: 0; border-radius: 50%; margin-right: 10px;
      border: 1px solid $MedGray; vertical-align: top;
      font-size: 30px; height: 50px; width: 50px; line-height: 50px;
      text-align:center; display:inline-block;

      &.fa-plus { color: #4e98d5;}
      &.fa-user { color: #D62828;}
      &.fa-comments { color: #70d474;}
      &.fa-phone { color: #5693ca;}
    }

    .vert-line {
      height: 100%; width: 1px; display: block; background-color: $DarkGray;
      position: absolute; left: 25px; z-index: 0;
    }

    .timeline-text-container{
      display: inline-block; width: calc(100% - 70px);

      .interaction-status {
        float: right; vertical-align: top; margin: 10px 0 0 0; color: $MedGray;
        font-size: 11px;
        .resolution-icon{
          font-size: 14px; height: 24px; width: 24px;
        }
        &.resolved{ color: green; }
        &.open { color: red; }
      }

      .timeline-main-text{
        text-decoration: none;
        color: $DarkGray;
        margin-top: 10px; display: inline-block;
      }
      .timeline-sub-text{
        text-decoration: none; font-size: 10px;
        color: $MedGray; vertical-align: bottom;
        display: block; margin-bottom: 10px;
      }
      .timeline-desc{ }
      .referral-container {
        p {margin: 0;}
        background-color: rgba(127, 196, 253, .5); padding: 15px;
        display: block; margin-top: 15px;
        .referral-title { margin-bottom: 5px; font-size: 14px;}
        .referral-note { margin: 0; font-size: 11px;}
        .referral-code { margin: 0; font-size: 11px;
          .code-title {width: 50px; display: inline-block;}
        }

        .ref-btns{ margin-top: 10px; }
      }
    }
  }
}
