
$DarkGray: #32323c;
$MedGray: #5b5b62;
$LightGray: #f4f4f5;
$teal: #3cc6cc;
$blue: #00315b;
$red: #D62828;
$green: #70d474;

$very-light-gray: #E5E4E2;
$very-light-blue: #C2DFFF;

h1,h2,h3 {
  font-family: 'Oxygen', sans-serif; // header
}

p,a, span, div, input, textarea  {
  font-family: 'Source Sans Pro', sans-serif; // body
}

* {
  box-sizing: border-box;
}

body{
  background-color: white;
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

.c-btn{
  padding: 0.5em 1em;
  border: 1px solid $LightGray;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: $MedGray;

  &:hover {
    border-color: $MedGray;
    color: $DarkGray;
  }

  &:disabled {
    color: $MedGray;
    background-color: $LightGray;
    pointer-events: none;
    cursor: default;
  }
}

input[type='submit'].c-btn {
  color: #000;
  font-size: 100%;
  border-radius: 0;
  background-color: #FFF;
}

.new-interaction-btn {
  float: right;
  display: block;
  margin-top: 1em;

  &:hover {
    color: $teal;
  }
}

#header{
  width: 100%;

  border-bottom: 1px solid $LightGray;

  .inner-header {
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
  }

  #header-home-link {
    display: inline-block;
    font-size: 120%;
    color: $teal;
    text-decoration: none;
    padding: 0.5em 0.5em;
    border-bottom: 2px solid #FFF;

    &:hover {
      color: $DarkGray;
      border-bottom: 2px solid $DarkGray;
    }
  }

  ul.primary-navigation {
    margin: 0;
    padding: 0;
    margin-left: 1em;
    display: inline-block;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      display: inline-block;

      a {
        display: block;
        font-size: 120%;
        color: $DarkGray;
        text-decoration: none;
        padding: 0.5em 0.5em;
        border-bottom: 2px solid #FFF;

        &:hover {
          border-bottom: 2px solid $MedGray;
        }
      }
    }
  }
}

form.simple-form {
  display: flex;
  flex-flow: row wrap;

  .form-element {
    flex: 1;
    flex-basis: 30%;
    margin: 0.5em 1em;
  }

  label {
    display: block;
    margin-top: 0.5em;
  }

  input[type="text"],
  input[type="tel"],
  input[type="number"] {
    width: 100%;
    padding: 0.25em;
    font-size: 100%;
  }

  input[type='submit'].c-btn {
    margin-top: 1em;
  }
}

.page-container{
  width: 100%;
  margin: 0 auto;
  max-width: 1050px;

  // padding-top: 50px;

  display: flex;
  flex-flow: row wrap;

  .container-left{
    flex: 1;

    padding: 2em 0;

    border-right: 1px solid $LightGray;

    .provider-form {
      input[type="text"] {
        width: 98%;
        font-size: 100%;
        padding: 0.5em 0.25em;
      }

      input[type='submit'].c-btn {
        color: #000;
        font-size: 100%;
        border-radius: 0;
        background-color: #FFF;

        float: right;
        margin: 0.5em 0.75em;
      }
    }
  }

  .container-right{
    flex: 1;

    padding: 2em 0;
  }

  .container-center{
    width: 100%; margin: 0 auto;
  }
}

.profile-container{
  padding: 15px;

  p {
    margin: 0;
  }

  .name { font-size: 28px; margin-bottom: 10px; }
  .top-field  { font-size: 14px; margin-bottom: 5px; }

  .middle-field{
    font-size: 12px;
    .field-title {width: 150px; color: $MedGray; display: inline-block;}
  }

  .referral-start-container, .referral-send-container {
    p {font-weight: bold; margin-bottom: 5px;}
    border-top: 1px solid $LightGray; width: calc(100%);
    margin: 10px 0 10px -15px; padding: 15px;
  }

  .referral-send-container {
    h1 {
      margin: 0.25em;
    }

    .send-referral {
      color: #000;
      font-size: 100%;
      border-radius: 0;
      background-color: #FFF;
      float: right;
      display: block;
      margin-bottom: 1em;
    }
  }

  #profile-toggle-container{
    clear: right;

    width: calc(100% + 28px);
    height: 50px;
    margin: 10px 0 10px -15px;
    border-top: 1px solid $LightGray;
    border-bottom: 1px solid $LightGray;
    border-right: 1px solid white;
    border-left: 1px solid white;

    .profile-toggle-btn{
      width: 50%; display: inline-block; text-decoration: none;
      float: left; height: 100%; text-align: center; line-height: 50px;
      background-color: $LightGray; color: $MedGray;
      &.active{
        background-color: white; color: $DarkGray;
      }
    }
  }
  .client-details-container{
    display: none;
    &.active{display: block;}
  }
  .timeline-container{
    display: none;
    &.active{display: block;}

    .new-note-btn{
      text-decoration: none;
      &:hover {opacity: .75;}
    }

    .timeline-item{
      padding-bottom: 20px; position: relative;
      &:last-of-type { padding-bottom: 0; }
      .timeline-icon{
        color: $teal; background-color: white; position: relative;
        padding: 0; border-radius: 50%; margin-right: 10px;
        border: 1px solid $MedGray; vertical-align: top;
        font-size: 30px; height: 50px; width: 50px; line-height: 50px;
        text-align:center; display:inline-block;

        &.fa-plus { color: #4e98d5;}
        &.fa-user { color: $red;}
        &.fa-comments { color: $green;}
        &.fa-phone { color: #5693ca;}
      }

      .vert-line {
        height: 100%;
        width: 1px;
        display: block;
        background-color: $MedGray;
        position: absolute;
        left: 25px;
        z-index: 0;
      }

      .timeline-text-container{
        display: inline-block;
        width: calc(100% - 70px);

        .interaction-status {
          float: right; vertical-align: top; margin: 10px 0 0 0; color: $MedGray;
          font-size: 11px;
          .resolution-icon{
            font-size: 14px; height: 24px; width: 24px;
          }
          &.resolved{ color: green; }
          &.open { color: red; }
        }

        .timeline-main-text{
          text-decoration: none;
          color: $DarkGray;
          margin-top: 10px; display: inline-block;
        }
        .timeline-sub-text{
          text-decoration: none; font-size: 10px;
          color: $MedGray; vertical-align: bottom;
          display: block; margin-bottom: 10px;
        }
        .timeline-desc{ }
        .referral-container {
          p {margin: 0;}
          // background-color: rgba(127, 196, 253, .5);
          padding: 1em;
          display: block;
          margin-top: 1em;
          border-bottom: 1px solid $LightGray;

          .referral-title { margin-bottom: 5px; font-size: 14px;}
          .referral-note { margin: 0; font-size: 11px;}
          .referral-code { margin: 0; font-size: 11px;
            .code-title {width: 50px; display: inline-block;}
          }

          .ref-btns{ margin-top: 10px; }
        }
      }
    }
  }
}

.timeline-container{
  padding: 15px; background-color: white;

}

.providers-container{
  padding: 15px; background-color: white;

  .provider-container{
    padding: 1em;
    border: 1px solid $LightGray;
    margin-bottom: 2em;

    .qualified {
      width: 90%; padding: 10px 5%;  background-color: $green;
      i {margin-right: 8px;}
    }
    .disqualified {
      width: 90%; padding: 10px 5%;  background-color: $red;
      i {margin-right: 8px;}
    }

    .provider-left {width: 60%; display: inline-block; vertical-align: top;}
    .provider-right {width: 40%; display: inline-block; vertical-align: top; float: right;}
    .provider-name {font-size: 24px; display: inline-block; margin: 0;}
    .provider-sub-details{
      display: block; width: 350px;
      .provider-phone, .provider-site {
        display: inline-block; margin:0; font-size: 12px;
        width: 150px; color: $DarkGray;
        i {margin-right: 5px;}
      }
    }

    .provider-service{
      .service-name{ border-bottom: 1px solid $DarkGray; display: inline-block; margin: 10px 0;}
      .service-restriction{
        margin: 0 0 3px 0; font-size: 12px; color: $MedGray;
        i {margin-right: 5px; width: 14px;}
      }
    }

    .provider-addtl-services{
      font-size: 12px;
      .addtl-services-title {width: 120px; display: inline-block;}
    }

    .provider-map-container{
      .provider-map-canvas{ width: 100%; height: 250px; }
      .provider-addy {margin: 10px 0 0 0; font-size: 12px;}
    }
    .provider-btns{
      margin-top: 25px;
      text-align: right;
    }
  }
}

.messages-container{
  clear: right;
  padding-right: 1em;

  // background-color: white; padding: 15px 30px;
  margin-top: 2em;
  border-top: 1px solid $LightGray;

  .incoming-msg-from {
    margin: 0;
    font-size: 80%;
    padding: 0.25em 0.5em;
    border-bottom: 1px solid $LightGray;
    border-right: 5px solid $very-light-gray;

  }

  .incoming-msg-to {
    margin: 0;
    font-size: 80%;
    text-align: right;
    padding: 0.25em 0.5em;
    border-bottom: 1px solid $LightGray;
    border-right: 5px solid $very-light-blue;

    .provider-name {
      font-style: italic;
    }
  }


  .text-bubble {
    font-size: 150%;
    margin-top: 0.5em;
    padding-top: 1em;
    padding-right: 0.5em;

    border-right: 5px solid $very-light-gray;

    &.outgoing {
      text-align: right;
      border-right: 5px solid $very-light-blue;
    }
  }
}

.interaction-section-header {
  @extend .clear;

  font-size: 150%;
  margin-top: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid $LightGray;
}

.interactions-container{
  width: 100%;
  list-style: none;
  padding-left: 0;

  .interaction-container{
    margin-bottom: 2em;

    a {
      padding: 1em;
      display: block;
      text-decoration: none;
      border: 1px solid transparent;
      border-bottom: 1px solid $LightGray;

      &:hover {
        cursor: pointer;
        border-bottom: 1px solid $MedGray;
      }

      display: flex;
      flex-flow: row wrap;

      .int-class-left {
        flex: 1;
      }
      .int-class-right {
        flex: 1;
      }
    }

    p, span{
      color: $DarkGray;
    }

    .client-name {
      margin: 0;
      font-size: 200%;
    }

    .interaction-data {
      margin: 0.25em 0;

      .title {
        // font-weight: 900;
        color: $MedGray;
        margin-right: 0.25em;
      }

      i {
        width: 20px;
        margin-right: 0;
      }
    }
  }
}

.not-found {color: $red; margin: 15px 0; display: inline-block;}

#housing-gender-spec{
  margin-top: 5px;
  i {margin-right: 5px;}
  &.hidden {display: none;}
}
