<div class="container-center">

  <div class="providers-container">
    <div class="provider-container">
      <div class="provider-left">
        <p class="provider-name">St Patrick's Center</p>
        <div class="provider-sub-details">
          <a href="#" class='provider-phone'><i class="fa fa-phone"></i>516 581-1375</a>
          <a href="#" class='provider-site'><i class="fa fa-globe"></i>www.test.com</a>
        </div>

        <div class="provider-service">
          <p class="service-name">Emergency Shelter</p>
          <p class="service-restriction"><i class="fa fa-male"></i>Male Only</p>
          <p class="service-restriction"><i class="fa fa-hashtag"></i>SSN Required</p>
          <p class="service-restriction"><i class="fa fa-female"></i>Female Only</p>
          <p class="service-restriction"><i class="fa fa-child"></i>Family</p>
        </div>

        <div class="provider-addtl-services">
          <p class="service-name"><span class="addtl-services-title">Additional Services:</span> Food, Utility Services, Legal Help.</p>
        </div>

      </div>

      <div class="provider-right">
        <div class="provider-map-container">
          <div class='provider-map-canvas' data-lat="38.601645" data-lon="-90.458824"></div>
          <p class="provider-addy">253 Eckford St Brooklyn, NY 11222</p>
        </div>
      </div>

      <div class="clear"></div>
      <div class="provider-btns">
        <%= link_to "refer client", new_users_referral_path(service_id: "1", interaction_id: params[:interaction_id]), class: "c-btn" %>
      </div>

    </div>


    <div class="provider-container">
      <div class="provider-left">
        <p class="provider-name">St Patrick's Center</p>
        <div class="provider-sub-details">
          <a href="#" class='provider-phone'><i class="fa fa-phone"></i>516 581-1375</a>
          <a href="#" class='provider-site'><i class="fa fa-globe"></i>www.test.com</a>
        </div>

        <div class="provider-service">
          <p class="service-name">Emergency Shelter</p>
          <p class="service-restriction"><i class="fa fa-male"></i>Male Only</p>
          <p class="service-restriction"><i class="fa fa-hashtag"></i>SSN Required</p>
          <p class="service-restriction"><i class="fa fa-female"></i>Female Only</p>
          <p class="service-restriction"><i class="fa fa-child"></i>Family</p>
        </div>

        <div class="provider-addtl-services">
          <p class="service-name"><span class="addtl-services-title">Additional Services:</span> Food, Utility Services, Legal Help.</p>
        </div>

      </div>

      <div class="provider-right">
        <div class="provider-map-container">
          <div class='provider-map-canvas' data-lat="18.601645" data-lon="-90.458824"></div>
          <p class="provider-addy">253 Eckford St Brooklyn, NY 11222</p>
        </div>
      </div>
      <div class="clear"></div>

      <div class="provider-btns">
        <%= link_to "refer client", new_users_referral_path(service_id: "1", interaction_id: params[:interaction_id]), class: "c-btn" %>
      </div>
    </div>

  </div>

</div>
<script>

$(document).ready(function(){
  var styles = [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"color":"#d1b561"},{"lightness":"-15"},{"weight":"1.39"}]},{"featureType":"road","elementType":"labels.text","stylers":[{"color":"#5c5d5f"},{"weight":"0.48"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway.controlled_access","elementType":"geometry.fill","stylers":[{"visibility":"on"}]},{"featureType":"road.highway.controlled_access","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}]

  _.each($('.provider-map-canvas'), function(mapCanvas){
    var map = new google.maps.Map(mapCanvas, {
      center: {lat: $(mapCanvas).data('lat'), lng: $(mapCanvas).data('lon')},
      scrollwheel: false,styles: styles, zoom: 12
    });
    var marker = new google.maps.Marker({ position: {lat: $(mapCanvas).data('lat'), lng: $(mapCanvas).data('lon')}, map: map });
  });

})

</script>
