<div class="container-center">

  <div class="providers-container">
    <% @services.each do |service| %>
      <%= render partial: "service", locals: {service: service} %>
    <% end %>
  </div>
</div>
<script>

$(document).ready(function(){
  var styles = [{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"color":"#d1b561"},{"lightness":"-15"},{"weight":"1.39"}]},{"featureType":"road","elementType":"labels.text","stylers":[{"color":"#5c5d5f"},{"weight":"0.48"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway.controlled_access","elementType":"geometry.fill","stylers":[{"visibility":"on"}]},{"featureType":"road.highway.controlled_access","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}]

  _.each($('.provider-map-canvas'), function(mapCanvas){
    var map = new google.maps.Map(mapCanvas, {
      center: {lat: $(mapCanvas).data('lat'), lng: $(mapCanvas).data('lon')},
      scrollwheel: false,styles: styles, zoom: 14,
      disableDefaultUI: true,
      zoomControl: true
    });
    var marker = new google.maps.Marker({ position: {lat: $(mapCanvas).data('lat'), lng: $(mapCanvas).data('lon')}, map: map });
  });

})

</script>
