<!DOCTYPE html>
<html>
<head>
  <title>Counselor</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <script src="https://use.fontawesome.com/370cf7d40a.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
